services:
  ha-msqtt:
    container_name: ha-msqtt
    image: eclipse-mosquitto:2.0
    restart: unless-stopped
    volumes:
      - ./log/:/mosquitto/log/
      - /etc/localtime:/etc/localtime:ro
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - msqtt_ha:/mosquitto/
      - ${CERT_DIR:-.}/certs/:/certs/:ro
#      - ${PASSWD_DIR:-.}/passwd.txt:/mosquitto/config/passwd.txt:ro
    networks:
      - ha_network
networks:
  ha_network:
    external: true
volumes:
  msqtt_ha:
    external: true
